{% extends "base.html" %}
{% block content %}

    <h3 class="purple-text center-align">Oooops! Looks like something went wrong</h3>

    <div class="row center">
        <img class="responsive-img" src="https://res.cloudinary.com/djn4bzqse/image/upload/v1619692579/error_404_anodkg.jpg" alt="Hero image">
    </div>

    <div class="row center">
        <a href="{{ url_for('get_titles') }}" class="waves-effect waves-light cyan darken-3 btn-large"><i class="material-icons right">arrow_back</i>Go back to the app</a>
    </div>

{% endblock %}