{% extends "base.html" %}
{% block content %}

    <h3 class="purple-text center-align">Add a new title</h3>

    <div class="row">
        <form class="col s12 m10 l8 offset-m1 offset-l2 z-depth-5" method="POST" action="{{ url_for('add_title') }}">
            <!-- Title name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">local_movies</i>
                    <input id="title_name" name="title_name" type="text" class="validate" required>
                    <label for="title_name">Name of the title</label>
                </div>
            </div>
            <div class="row">
                <!-- Choose type dropdown -->
                <div class="input-field col s12 m6 l6 offset-m3">
                    <select id="title_types" name="title_types" class="validate" required>
                        <option value="" disabled selected>Choose type of content</option>
                        {% for title_type in title_types %}
                            <option value="{{ title_type.type_name }}">{{ title_type.type_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Choose genre dropdown -->
                <div class="input-field col s12 m6 l6 offset-m3" required>
                    <select id="genres" name="genres" class="validate" required>
                        <option value="" disabled selected>Choose genre</option>
                        {% for genre in genres %}
                            <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- Choose platform dropdown -->
            <div class="row">
                <div class="input-field col s12 m6 l6 offset-m3" required>
                    <select id="platforms" name="platforms" class="validate" required>
                        <option value="" disabled selected>Choose platform</option>
                        {% for platform in platforms %}
                            <option value="{{ platform.platform_name }}">{{ platform.platform_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Suitable for all ages toggle -->
                <div class="col s6 offset-s3 l6">
                    <p>
                        <label>
                          <input type="checkbox"/>
                          <span >Check if title is suitable for all ages</span>
                        </label>
                    </p>
                </div>
            </div>
            <!-- Year of release -->
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input placeholder="Year of release" id="release_year" name="release_year" type="text" pattern="^[0-9]{4,4}$" class="validate" required>
                    <label for="release_year">Released in:</label>
                </div>
            </div>
            <!-- IMDB link -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">language</i>
                    <input placeholder="Please paste the link to the IMDB title page" id="imdb" name="imdb" type="text" class="validate" required>
                    <label for="imdb">IMDB link:</label>
                </div>
            </div>
            <!-- Title content link -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">language</i>
                    <input placeholder="Please paste the link to where users can watch the title" id="wtw" name="wtw" type="text" class="validate" required>
                    <label for="wtw">Whatch here link:</label>
                </div>
            </div>
            <!-- Recomendation text -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="recommendation" placeholder="Explain users why do you recommend this title" name="recommendation" class="materialize-textarea" required></textarea>
                    <label for="recommendation">Recommendation:</label>
                </div>
            </div> 
            <!-- Submit button -->
            <div class="row">
                <div class="col s6 offset-s4">
                    <button class="btn waves-effect waves-light" type="submit">Add title
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div> 
          </div>
        </form>
    </div>

{% endblock %}