{% extends "base.html" %}
{% block content %}

    <h3 class="purple-text center-align">Add a new title</h3>

    <div class="row">
        <form class="col s12 m10 l8 offset-m1 offset-l2 z-depth-5" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">local_movies</i>
                    <input id="title_name" name="title_name" type="text" class="validate" required>
                    <label for="title_name">Name of the title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l6 offset-m3" required>
                    <select>
                      <option value="" disabled selected>Choose type of content</option>
                      <option value="1">Option 1</option>
                      <option value="2">Option 2</option>
                      <option value="3">Option 3</option>
                    </select>
                </div>
                <div class="input-field col s12 m6 l6 offset-m3" required>
                    <select>
                      <option value="" disabled selected>Choose genre</option>
                      <option value="1">Option 1</option>
                      <option value="2">Option 2</option>
                      <option value="3">Option 3</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l6 offset-m3" required>
                    <select>
                      <option value="" disabled selected>Choose platform</option>
                      <option value="1">Option 1</option>
                      <option value="2">Option 2</option>
                      <option value="3">Option 3</option>
                    </select>
                </div>
                <div class="col s6 offset-s3 l6">
                    <p>
                        <label>
                          <input type="checkbox"/>
                          <span >Check if title is suitable for all ages</span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input placeholder="Year of release" id="release_year" type="text" pattern="^[0-9]{4,4}$" class="validate" required>
                    <label for="release_year">Released in:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">language</i>
                    <input placeholder="Please paste the link to the IMDB title page" id="imdb" name="imdb" type="text" pattern="^[0-9]{4,4}$" class="validate" required>
                    <label for="imdb">IMDB link:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">language</i>
                    <input placeholder="Please paste the link to where users can watch the title" id="wtw" name="wtw" type="text" pattern="^[0-9]{4,4}$" class="validate" required>
                    <label for="wtw">Whatch here link:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="recommendation" placeholder="Explain users why do you recommend this title" name="recommendation" class="materialize-textarea" required></textarea>
                    <label for="recommendation">Recommendation:</label>
                </div>
            </div>  
          </div>
        </form>
      </div>

{% endblock %}