{% extends "base.html" %}
{% block content %}

    <h3 class="purple-text center-align">Browse Titles</h3>

    <div class="row card-panel grey lighten-5">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="material-icons prefix">search</i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Titles</label>
                    <span class="helper-text" data-error="wrong" data-success="right">You can also search for types, genres, year of release or username</span>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_titles') }}" class="red btn text-shadow">Reset</a>
                    <button type="submit" class="light-blue darken-1 btn text-shadow">
                        <i class="material-icons right">search</i> Search
                    </button>
                </div>
            </div>
        </form>
    </div> 

    {% if titles|length > 0 %}
    <div class="row">
        {% for title in titles %}
        <div class="col s12 l6">
            <div class="card purple lighten-5">
                <div class="card-content">
                    <span class="card-title activator z-depth-2 indigo lighten-5 text-darken-5 center">{{ title.title_name }}<i class="material-icons right">more_vert</i></span>
                    <div class="row">
                        <div class="col s6 offset-s3 z-depth-1 grey lighten-5 center-align">
                            <p>{{ title.type_name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 z-depth-1 grey lighten-5 center-align">
                            <p>Genre: {{ title.genre_name }}</p>
                        </div>
                        <div class="col s12 m6 z-depth-1 grey lighten-5 center-align">
                            <p>Released in: {{ title.release_year }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            {% if title.all_ages == "yes" %}
                                <i class="fas fa-users prefix deep-purple-text text-accent-2">   - For all ages -</i>
                            {% else %}
                                <i class="fas fa-users-slash prefix deep-purple-text text-accent-2">   - Not for children -</i>
                            {% endif %}
                        </div>
                        <div class="col s12 m6">
                            <p id="added_by"><em>added by: {{ title.created_by }}</em></p>
                        </div>
                    </div>
                </div>
                <div class="card-reveal grey lighten-3">
                    <div class="row">
                        <span class="card-title grey-text text-darken-4">This is why this title is recommended:<i class="material-icons right">close</i></span>
                        <p>{{ title.recommendation }}</p>
                    </div>
                    {% if session.user|lower == title.created_by|lower %}
                        <div class="row">
                            <div class="col s6">
                                <a href="{{ url_for('edit_title', title_id=title._id) }}" class="waves-effect waves-light btn-large center"><i class="material-icons left">edit</i>Edit Title</a>
                            </div>
                            <div class="col s6">
                                <a href="{{ url_for('delete_title', title_id=title._id) }}" class="waves-effect waves-light btn-large center red"><i class="material-icons left">delete_forever</i>Delete Title</a>
                            </div>  
                        </div>
                    {% elif session.user|lower == "admin" %}
                        <div class="row">
                            <div class="col s6">
                                <a href="{{ url_for('edit_title', title_id=title._id) }}" class="waves-effect waves-light btn-large center"><i class="material-icons left">edit</i>Edit Title</a>
                            </div>
                            <div class="col s6">
                                <a href="{{ url_for('delete_title', title_id=title._id) }}" class="waves-effect waves-light btn-large center red"><i class="material-icons left">delete_forever</i>Delete Title</a>
                            </div>  
                        </div>
                    {% endif %}
                </div>
                <div class="card-action">
                    <a href="{{ title.imdb }}" target="_blank" class="waves-effect waves-light btn-small black-text yellow accent-1">IMDB</a>
                    <a href="{{ title.wtw }}" target="_blank" class="right waves-effect waves-light btn-small white-text deep-purple darken-3">Watch here</a>
                </div>
            </div>
        </div>
        {% endfor %}
     
    </div>
    {% else %}
        <h3 class="red-text center-align">No results found</h3>
    {% endif %}

{% endblock %}