
{% extends "base.html" %}
{% block content %}

    <h3 class="purple-text center-align">Manage Platforms</strong></h3>

    <div class="row center">
        <a href="{{ url_for('add_platform') }}" class="btn-floating btn-large waves-effect waves-light light-blue darken-1 tooltipped" data-position="right" data-tooltip="Add a new Platform"><i class="material-icons">add</i></a>
    </div>

    <div class="row">
        {% for platform in platforms %}
            <div class="col s12 m6 l4">
                <div class="card deep-purple lighten-1">
                    <div class="card-content white-text">
                        <span class="card-title center align">{{ platform.platform_name }}</span>
                    </div>
                    <div class="row center">
                        <div class="card-action">
                            <a href="{{ url_for('edit_platform', platform_id=platform._id) }}" class="waves-effect waves-light btn"><i class="material-icons left">edit</i>Edit</a>
                            <a href="#delete_platform_{{platform._id}}" class="waves-effect waves-light btn red modal-trigger"><i class="material-icons left">delete_forever</i>Delete</a>
                        </div>
                    </div>
                </div>
            </div>  
                        
            <!-- Delete Confirmation Modal Structure -->

            <div id="delete_platform_{{platform._id}}" class="modal">
                <div class="modal-content">
                    <h4>Confirm Delete</h4>
                    <p>Are you sure you want to delete? This action is irreversible!</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn teal">Cancel</a>
                    <a href="{{ url_for('delete_platform', platform_id=platform._id) }}" class="waves-effect waves-light btn red">Confirm</a>
                </div>
            </div>  

        {% endfor %}

    </div>

    <!-- Back Button -->
    <div class="row center">
        <a href="{{ url_for('manage') }}" class="waves-effect waves-light cyan darken-3 btn-large"><i class="material-icons right">arrow_back</i>Back to Manage Menu</a>
    </div>

{% endblock %}